.button{
    -fx-background-color: #123090;
    -fx-text-fill: white;
}

.combo-box{
    -fx-text-fill: white ;
    -fx-background-color: white;
}

.button:hover{
    -fx-background-color: white;
    -fx-text-fill: #338DFF;
}

.text-field{
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
}