.button{
    -fx-background-color: #123090;
    -fx-text-fill: white;
    -fx-font: serif;
}

.combo-box{
    -fx-text-fill: white ;
    -fx-background-color: white;
    -fx-font: serif;
}

.button:hover{
    -fx-background-color: white;
    -fx-text-fill: #338DFF;
    -fx-font: serif;
}

.text-field{
    -fx-prompt-text-fill: #123090;
    -fx-text-fill: #123090;
    -fx-font: serif;
}